/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/.composer
/.git
/.gitignore
/.gitattributes
/.gitlab-ci.yml
/.php_cs
/.php_cs.cache
/.php_cs.dist
/phpunit.xml
/phpunit.xml.dist
/README.md
/webpack.mix.js
/webpack.mix.js.dist
/.env
.md
.env
.env.backup
.env.example
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/