/* Styles for TestWidget Widget */
.test_widget-widget {
    /* Add your custom styles here */
}

.test_widget-widget h2 {
    /* Title styles */
}

.test_widget-widget p {
    /* Paragraph styles */
}
